<div class="popup-dialog delete-popup">
    <header>
        <h1>Delete Fail</h1>
        <a href="javascript:;" class="close-button">
            <i class="fas fa-window-close"></i>
        </a>
    </header>
    <p>Tidak bisa mendelete inventori ini</p>
</div>