@{
    ViewData["Title"] = "Room Service";
}

@section pageTitle {
    <span>Room Service</span>
}

<div class="grid-container">
    <form class="filter">
        <input type="text" number="empNumber" placeholder="Number..."/>
        <input type="text" name="fullName" placeholder="Full Name..."/>
        <button class="blue-button filter-button" type="submit">Search</button>
    </form>

    <a href="javascript:;" class="blue-button create-button">Insert New Employee</a>
    <table class="reservation-data">
        <thead>
            <th>Action</th>
            <th>Employee Number</th>
            <th>Full Name</th>
            <th>Outsourcing Company</th>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
            <td colspan="4">
                <div class="pagination">
                <div>
                    Page <span class="current-page"></span> of <span class="total-page"></span>
                </div>
                <div class="page-numbers"></div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

@section indexScript {

    <script>

        (function(){
            getEmployeeIndex();
            createEmployeeNumberAndFullNameListener();
            createInsertListener();
            createCloseListener();
            createSaveListener();
        }())

        function getEmployeeIndex(empNumber = "", fullname = "", page = 1){
            let endpoint = `/RoomService/GetRoomService?empNumber=${empNumber}&fullName=${fullname}&page=${page}`;
            $.ajax({
                url: endpoint,
                success: function(response){
                    if(!response.isException){
                        populateTable(response);
                    }
                }
            });
        }

        function populateTable({data}){
            let rows = "";
            for (let tableRow of data.table){
                let row = 
                `
                    <tr>
                        <td>
                            <a href="javascript:;" class="blue-button update-button" data-id="${tableRow.employeeNumber}">Update</a>
                            <a href="/RoomService/Roster?empNumber=${tableRow.employeeNumber}" class="blue-button roster-button" data-id="${tableRow.employeeNumber}">Roster</a>
                        </td>
                        <td>${tableRow.employeeNumber}
                        <td>${tableRow.fullName}</td>
                        <td>${tableRow.company}</td>
                    </tr>;
                `
                rows += row;
            }
            $(".reservation-data tbody").html(rows);
            $(".current-page").text(data.currentPage);
            $(".total-page").text(data.totalPages);

            let pageLinks = "";
            for(let index = 1; index <= data.totalPage; index++){
                let pageLink = `<a href="javascript:;" data-page="${index}">${index}</a> `;
                pageLinks += pageLink;
            }
            $(".page-numbers").html(pageLinks);
            createPageLinkListener();
            createUpdateListener();
        }

        function emptyUpsertForm(){
            $(".upsert-popup input").val("");
        }

        function getSingleEmployee(empNumber){
            let endpoint = `/RoomService/GetSingleEmployee?empNumber=${empNumber}`;
            $.ajax({
                url: endpoint,
                success: function(response){
                    if(!response.isException){
                        fillUpsertForm(response)
                    }
                }
            });
        }

        function fillUpsertForm({data}){
            $(".upsert-popup .employee-span").text(data.employeeNumber),
            $(".upsert-popup .employee-number").val(data.employeeNumber),
            $(".upsert-popup .first-name").val(data.firstName),
            $(".upsert-popup .middle-name").val(data.middleName),
            $(".upsert-popup .last-name").val(data.lastName),
            $(".upsert-popup .company").val(data.company)
        }

        function closeDialog(){
            $(".modal-layer").removeAttr("style");
            $(".popup-dialog").removeAttr("style");
            $(".validation-message").text("");
            emptyUpsertForm();
        }

        function writeValidationMessage({validations}){
            for(let validation of validations){
                $(`.upsert-popup [data-for=${validation.propertyName}]`).text(validation.errorMessage);
            }
        }

        function collectInputForm(){
            let dto = {
                employeeNumber: $(".upsert-popup .employee-number").val(),
                firstName: $(".upsert-popup .first-name").val(),
                middleName: $(".upsert-popup .middle-name").val(),
                lastName: $(".upsert-popup .last-name").val(),
                company: $(".upsert-popup .company").val()
            };
            return dto;
        }

        // function Listener

        function createPageLinkListener() {
            $(".page-numbers > a").click(function(event){
                let pageNumber = $(this).attr("data-page");
                let empNumber = $("[number=empNumber]").val();
                let fullName = $("[name=fullName]").val();
                getEmployeeIndex(empNumber, fullName, pageNumber);
            });
        }

        function createEmployeeNumberAndFullNameListener() {
            $(".filter-button").click(function(event){
                event.preventDefault();
                let empNumber = $("[number=empNumber]").val();
                let fullName = $("[name=fullName]").val();
                getEmployeeIndex(empNumber, fullName)
            });
        }

        function createInsertListener(){
            $(".create-button").click(function(event){
                $(".modal-layer").attr("style", "display:flex");
                $(".upsert-popup").attr("style", "display:block");
                $(".upsert-popup button").attr("data-action", "Insert");
                $(".employee-number").attr("style", "display:inline");
                $(".employee-span").attr("style", "display:none");
                $(".upsert-popup .action").text("Insert");
            });
        }

        function createUpdateListener(){
            $(".update-button").click(function(event){
                let empNumber = $(this).attr("data-id");
                $(".modal-layer").attr("style", "display:flex");
                $(".upsert-popup").attr("style", "display:block");
                $(".upsert-popup button").attr("data-action", "Update");
                $(".employee-number").attr("style", "display:none");
                $(".employee-span").attr("style", "display:inline");
                $(".upsert-popup .action").text("Update");
                getSingleEmployee(empNumber);
            });
        }

        function createSaveListener(){
            $(".upsert-popup button").click(function(event){
                $(".validation-message").text("");
                let action = $(this).attr("data-action");
                let dto = collectInputForm();
                let endpoint = `/RoomService/${action}`;
                $.ajax({
                    url: endpoint,
                    method: "POST",
                    data: JSON.stringify(dto),
                    contentType: "application/json",
                    success: function(response){
                        if(!response.isException && !response.isValidation){
                            closeDialog();
                            getEmployeeIndex();
                        } else if (!response.isException && response.isValidation){
                            writeValidationMessage(response);
                        }
                    }
                });
            });
        }

        function createCloseListener(){
            $(".fa-window-close").click(function(event){
                $(".modal-layer").removeAttr("style", "display:flex");
                $(".popup-dialog").removeAttr("style", "display:block");
                $(".validation-message").text("");
                emptyUpsertForm();
            });
        }

    </script>

}

@section popUpDialog {
    <div class="modal-layer">
        <partial name="_UpsertDialog" />
    </div>
}