@{
    ViewData["Title"] = "Home Page";
}

@section pageTitle {
    <span>Landing Page</span>
}

<div class="grid-container">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome To Phoenix Hotel Website</a>.</p>
</div>
