@{
    Layout = "_ErrorLayout";
}

@{
    ViewData["Title"] = "Error";
}

<div class="error-container">
    <h1>Internal Server Error</h1>
    <p>
        Waduhhhh Error,
        Santai dulu ga sih, team developer akan menangani masalah ini
    </p>
    <a asp-controller="Home" asp-action="Index" class="create-button blue-button">Back to Landing Page</a>
</div>