@{
    Layout = "_AuthenticationLayout";
}

<h1>Access Denied</h1>
<p>Sebaiknya jangan gegabah</p>
<p>Akun anda tidak memiliki akses ke halaman ini</p>
<p>Tanya ke Admin dulu ga sih, biar tau akses akun anda kemana saja</p>
<div class="link-container">
    <a asp-action="Index" asp-controller="Home">Back to Landing Page</a>
</div>