<div class="popup-dialog income-popup">
    <header>
        <a href="javascript:;" class="close-button">
            <i class="fas fa-window-close"></i>
        </a>
    </header>
    <table>
        <tbody>
            <tr>
                <td>
                    <select class="month-dropdown"></select>
                </td>
                <td>
                    <select class="year-dropdown"></select>
                </td>
            </tr>
            <tr>
                <td><span class="income"></span></td>
            </tr>
        </tbody>
    </table>
    <button class="blue-button" type="submit"">Check</button>
</div>